{% extends "layout.html" %}

{% block newscripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='channelScript.js') }}"></script>
<script type="text/template" id = 'channelNameTemp'>
{% raw %}
// <p class = "{{ this.class }}">{{ this.message }}</p>
{{#if values}}
{{#each values}}
  <p class = "{{ this.class }}">{{ this.user }} says {{ this.content }}</p>
{{/each}}
{{/if}}
{% endraw %}
</script>
{% endblock %}

{% block content1 %}
<h3>Welcome to the {{ channel }} Channel!</h3>

<textarea class="form-control" id = "messContent" rows="1" placeholder="Write your message"></textarea>
<button data-channel = "{{ channel }}" type="button" class="btn btn-primary mt-1" id = "sendMessage">Send</button>

<div class="" id="messageDiv">
</div>

{% endblock %}
